[submodule "SparseHeros"]
	path = SparseHeros
	url = https://github.com/kadirayk/SparseHeros.git
[submodule "SparseIDEClient"]
	path = SparseIDEClient
	url = https://github.com/kadirayk/SparseIDEClient.git
